<%- include('includes/header') %>
<%- include('includes/footer') %>
<div class="row">
<% for(var i=0; i<jsonData.length; i++) {%>
  <div class="col-md-2">
    <a href="<%= jsonData[i].url%>"  target="_blank">
    <img class="card-img-top" src="<%= jsonData[i].img%>" alt="Card image cap">
    <div class="d-flex justify-content-center">
      <h5><%= jsonData[i].name%></h5>
    </div>
  </a>
  </div>
<% } %>
</div>
